@charset "utf-8";
@import url("slider.css");
@import url("font-awesome.css");
@import url("font-awesome.min.css");

/* CSS Document */
@font-face {
font-family:'HelveticaNeue-Roman';
src: url('../fonts/HelveticaNeueLTCom-Bd.eot');
src: url('../fonts/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff'),
     url('../fonts/HelveticaNeueLTCom-Bd.ttf') format('truetype'),
     url('../fonts/HelveticaNeueLTCom-Bd.svg#HelveticaNeueLTCom-Bd') format('svg');
}

@font-face {
font-family:'HelveticaNeue-light';
src: url('../fonts/HelveticaNeueLTCom-Md.eot');
src: url('../fonts/HelveticaNeueLTCom-Md.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTCom-Md.woff') format('woff'),
     url('../fonts/HelveticaNeueLTCom-Md.ttf') format('truetype'),
     url('../fonts/HelveticaNeueLTCom-Md.svg#HelveticaNeueLTCom-Md') format('svg');
}

@font-face {
font-family:'HelveticaNeue-menu';
src: url('../fonts/HelveticaNeueLTCom-LtCn.eot');
src: url('../fonts/HelveticaNeueLTCom-LtCn.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTCom-LtCn.woff') format('woff'),
     url('../fonts/HelveticaNeueLTCom-LtCn.ttf') format('truetype'),
     url('../fonts/HelveticaNeueLTCom-LtCn.svg#HelveticaNeueLTCom-LtCn') format('svg');
}
body{margin:0px; padding:0px; background-color:#000000;font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#333;}
img{ border:none;}
p{ margin:0px; padding:0px;}
.clr{clear:both;}
.wrapper{ width:100%;}
.deal_end_bx_slide{position:absolute; bottom:20px; z-index:99; height:45px; line-height:45px; width:656px; background: url(../images/white_opacity.png) repeat-x; padding:0 12px;}
.aed_bx_slider{position:absolute;top:40px;z-index:99; right:-8px;}
.aed_bx_slider a{ background-image: url(../images/electronic_MainDeal_buy_btn.png); background-position: center top; background-repeat: no-repeat; color: #FFFFFF; display: block; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; height: 39px; line-height: 16px; padding-top: 15px; text-align: center; width: 108px; text-decoration:none; text-transform:uppercase;}
.aed_bx_slider a:hover{ background-position: center bottom; text-decoration: none;}

.header{ width:100%; background:url(../images/header-bag.jpg) repeat-x bottom left; /*height:332px;*/ height:196px;}
.header-inner{ width:1000px; margin:0 auto; /*padding-top:5px; border-top:6px solid #eaa530;*/}
.top-add{ height:127px;}
.left-add{ position:absolute; z-index:99; left:20px; top:/*372px*/ 244px; width:125px;}
.right-add{ position:absolute; z-index:99; right:20px; top:/*372px*/ 244px; width:125px;}
.logo-area{ min-height:168px;}
.main-logo{ padding-top:4px; text-align:left;}
.left-logo-area{ width:345px; float:left;}
.right-logo-area{ width:655px; float:right; padding-top:25px;}
.login-area{ min-height:50px;}
.login-inner { display:block; font-family:HelveticaNeue-light; font-size:14px; color:#FFF; float:right; margin-left:1px; padding:0px 15px; text-decoration:none; min-height:50px; line-height:50px; text-align:center;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background: #8a8a8a; /* Old browsers */
background: -moz-linear-gradient(top, #8a8a8a 0%, #4c4c4c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* IE10+ */
background: linear-gradient(to bottom, #8a8a8a 0%,#4c4c4c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */}
.login-inner a:link,.login-inner a:visited{color:#FFF;text-decoration:none;}
.login-inner a:hover{color:#000;text-decoration:none;

background: #4c4c4c;
background: -moz-linear-gradient(top, #4c4c4c 1%, #8a8a8a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4c4c4c), color-stop(100%,#8a8a8a)); 
background: -webkit-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%); 
background: -o-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%); 
background: -ms-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%); 
background: linear-gradient(to bottom, #4c4c4c 1%,#8a8a8a 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#8a8a8a',GradientType=0 );}
.login-inner-log{ font-size:20px;}
.user-area{ padding-top:30px;}
.login-heart{padding-top:15px; color:#ffbf2b; font-size:20px; color:#ffbf2b;}
.login-cart{padding-top:12px; font-size:25px; color:#ffbf2b;}


#login{margin:0px;}
#login ul{ list-style-type:none;margin:0;padding:0;}
#login li{list-style-type:none;display:block;float:right;height:50px;line-height:50px;transition: all 0.4s ease-in-out 0s;}
#login li a{display:block;float:right;font-family:HelveticaNeue-light; font-size:14px; color:#FFF;text-shadow: rgb(3, 3, 3) 1px 1px 0px; 
height:50px;line-height:50px;text-decoration:none;padding:0 15px;background: #8a8a8a;
background: -moz-linear-gradient(top, #8a8a8a 0%, #4c4c4c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8a8a8a 0%,#4c4c4c 100%); /* IE10+ */
background: linear-gradient(to bottom, #8a8a8a 0%,#4c4c4c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#4c4c4c',GradientType=0 );border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; margin-left:2px;transition: all 0.4s ease-in-out 0s;}
#login li a:hover{color:#fff;
background: #efe138; /* Old browsers */
background: -moz-linear-gradient(top,  #efe138 0%, #fdb81f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe138), color-stop(100%,#fdb81f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efe138 0%,#fdb81f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe138', endColorstr='#fdb81f',GradientType=0 ); /* IE6-9 */

/*background: #4c4c4c; 
background: -moz-linear-gradient(top, #4c4c4c 1%, #8a8a8a 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#4c4c4c), color-stop(100%,#8a8a8a)); 
background: -webkit-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%); 
background: -o-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%); 
background: -ms-linear-gradient(top, #4c4c4c 1%,#8a8a8a 100%);
background: linear-gradient(to bottom, #4c4c4c 1%,#8a8a8a 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#8a8a8a',GradientType=0 );transition: all 0.4s ease-in-out 0s;*/}
#login li a.current{display:block;float:right;background:#0f288c;font-family:HelveticaNeue-light; font-size:14px; color:#FFF;line-height:50px;text-decoration:none;padding:0 15px;}
#login li a:hover.current{color:#fff;}
.lan-left img{margin-right:6px;}
.lan-left span{vertical-align:top;}
.lan-left{ float:left; padding-right:20px; min-height:20px; line-height:20px;font-family:HelveticaNeue-light; font-size:13px; color:#fefefe; font-weight:normal; margin-top:5px; vertical-align:top !important;}
.home-icon{ padding-right:6px; float:left;color:#ffbf2b; font-size:20px; margin-top:-3px;}
.home-in{ float:left; padding-right:6px;}
.main-menu-area{ min-height:20px; position:relative;}

#main-menu{margin:0px;}
#main-menu ul{ list-style-type:none;margin:0;padding:0;}
#main-menu li{list-style-type:none;display:block;float:left;height:55px;line-height:55px;transition: all 0.4s ease-in-out 0s;}
#main-menu li a span{vertical-align:top;}

#main-menu li a{display:block;float:left;font-family:HelveticaNeue-light; font-size:16px; font-weight:normal; color:#FFF;text-shadow: rgb(3, 3, 3) 1px 1px 0px; 
height:55px;line-height:55px;text-decoration:none;padding:0 33px; transition: all 0.4s ease-in-out 0s; background:url(../images/meni-divider.jpg) no-repeat right  center;}
#main-menu li a:hover{color:#e0b835;transition: all 0.4s ease-in-out 0s;}
#main-menu li a.current{display:block;float:left;background:url(../images/meni-divider.jpg) no-repeat right  center;font-family:HelveticaNeue-light; font-size:16px; color:#e0b835;line-height:55px;text-decoration:none;padding:0 33px;}
#main-menu li a:hover.current{color:#e0b835;}
.main-nav{/*float:left;*/ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:55px; width:1000px;
background: #878787; /* Old browsers */
background: -moz-linear-gradient(top, #878787 0%, #757575 50%, #757575 50%, #676767 50%, #4b4b4b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(50%,#757575), color-stop(50%,#757575), color-stop(50%,#676767), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* IE10+ */
background: linear-gradient(to bottom, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */}

.contain{ width:100%;background: #8f643a; /* Old browsers */
background: -moz-linear-gradient(top, #8f643a 2%, #e8a32e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#8f643a), color-stop(100%,#e8a32e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #8f643a 2%,#e8a32e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #8f643a 2%,#e8a32e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #8f643a 2%,#e8a32e 100%); /* IE10+ */
background: linear-gradient(to bottom, #8f643a 2%,#e8a32e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f643a', endColorstr='#e8a32e',GradientType=0 ); padding-top:40px; padding-bottom:20px;}
.contain-inner{ width:1000px; margin:0 auto;min-height:550px;}
.contain-left{ width:680px; float:left; padding-right:20px;}
.contain-right{ width:300px; float:right;}
.top-slide{ min-height:338px; padding-bottom:20px;}
.product-area{ padding-bottom:20px;}
.product-box-left{ float:left; height:220px; width:325px; position:relative;}
.product-box-right{ float:right; height:220px; width:325px; position:relative;}
.product-images{ height:170px;}
.product-offer{background:url(../images/ribon.png) no-repeat; width:51px; height:42px; display:block; position:absolute; z-index:99; top:10px; left:-9px;}
.product-offer-top{ width:40px; text-align:center;color:#FFF; font-family:HelveticaNeue-light; font-size:12px; font-weight:bold; padding-top:4px;}
.product-offer-btm{ width:40px; text-align:center;color:#FFF; font-family:HelveticaNeue-light; font-size:10px; font-weight: normal;text-shadow:#313131 1px 1px 0px;}

.product-btn{ min-height:60px; width:325px; position:absolute; bottom:20px;}
.product-btn-outer{ background:url(../images/white-bag.png) repeat; width:140px; height:50px; margin:0 auto;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; padding:5px;}
.product-btn-inner{ background-color:#eaa52e;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;height:50px;}
.product-top-text{ border-bottom:1px solid #fff; height:26px; line-height:26px; text-align:center; margin-left:5px; margin-right:5px; color:#fff5f8; font-family:HelveticaNeue-Roman; font-size:17px;text-shadow:#614b19 1px 1px 0px; text-transform:uppercase;}
.product-view{ height:23px; line-height:23px; text-align:center; color:#fff5f8; font-family:HelveticaNeue-light; font-size:13px;text-shadow:#614b19 1px 1px 0px; text-transform:uppercase; text-decoration:none;transition: all 0.4s ease-in-out 0s;}
.product-view a:link,.product-view a:visited{color:#fff5f8;text-decoration:none;transition: all 0.4s ease-in-out 0s;}
.product-view a:hover{color:#333;text-decoration:none;transition: all 0.4s ease-in-out 0s;}

.deal_bx{margin-bottom:20px;}
.deal_one{margin-bottom:20px;}
.deal_txt{background:url(../images/deal_bg.png) repeat-x; height:53px; position:absolute; margin-top:60px; width:274px; padding:10px 10px 0 20px}
.deal_l{float:left; color:#FFF; font-size:25px; font-family:HelveticaNeue-light; text-transform:uppercase; text-shadow:1px 1px 0 #000;}
.deal_r{float:right; padding:5px 15px; border-radius:3px; font-size:17px; font-family:HelveticaNeue-light; text-transform:uppercase; text-shadow:1px 1px 0 #78531e; color:#FFF; 
background: #fed835; /* Old browsers */
background: -moz-linear-gradient(top,  #fed835 0%, #ffb415 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed835), color-stop(100%,#ffb415)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fed835 0%,#ffb415 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed835', endColorstr='#ffb415',GradientType=0 ); /* IE6-9 */
}
.deal_r a:link,.deal_r a:visited{font-size:16px; font-family:HelveticaNeue-light; color:#FFF; text-decoration:none;}
.deal_r a:hover{font-size:16px; font-family:HelveticaNeue-light; color:#FFF; text-decoration:none;}
.deal-time{ position:absolute; z-index:99999; width:200px; margin-top:305px; margin-left:20px;}

.footer{ width:100%;background:url(../images/header-bag.jpg) repeat-x bottom left;height:270px; padding-bottom:20px;}
.footer-inner{ width:1000px; margin:0px auto;}
.footer_links{padding:46px 0 50px 0;}
.footer_logo{float:left; width:214px;}
.footer_contact{float:left; width:255px;}
.contact_head{color:#dddddd; font-family:HelveticaNeue-light; font-size:16px; margin-bottom:24px;}
.contact_no{margin-bottom:21px; color:#bbbbbb; font-size:13px; font-family:HelveticaNeue-light; background:url(../images/footer_phone.jpg) no-repeat left top ; padding-left:24px;}
.support_icon{margin-bottom:20px; color:#bbbbbb; font-size:13px; font-family:HelveticaNeue-light; background:url(../images/footer_support.jpg) no-repeat left top 1px; padding-left:24px;}
.support_icon a:link,.support_icon a:visited{color:#bbbbbb; font-size:13px; font-family:HelveticaNeue-light; text-decoration:none;}
.support_icon a:hover{color:#ff9a04; font-size:13px; font-family:HelveticaNeue-light; text-decoration:none;}

.office_ad{color:#bbbbbb; font-size:13px; line-height:20px; font-family:HelveticaNeue-light; background:url(../images/footer_office.jpg) no-repeat left top 4px; padding-left:24px;}

.company_bx{float:left; width:177px;}
.company_links{margin:0px; padding:0px;}
.company_links ul{margin:0px; padding:0px;}
.company_links ul li{list-style-type:none; margin-bottom:5px; color:#bbbbbb; font-size:13px; font-family:HelveticaNeue-light;}
.company_links ul li a:link,.company_links ul li a:visited{color:#bbbbbb; font-size:13px; font-family:HelveticaNeue-light; text-decoration:none;}
.company_links ul li a:hover{color:#ff9a04; font-size:13px; font-family:HelveticaNeue-light; text-decoration:none;}

.footer_copyright{text-align:center; font-family:HelveticaNeue-light; font-size:14px; color:#d27609;}


/*home-dropdown*/
/* Right Menu */
.language{ /*float:right;*/ padding-right:20px; font-family:HelveticaNeue-light; font-size:13px;}
.menu{ padding:0px; margin:0px;}
.menu li {position: relative; ont-family:HelveticaNeue-light; font-size:13px; list-style: none; float: left; display: block; height: 20px; vertical-align:top; border:0 none; margin-right:14px;}
/* Links */
.menu li a {display: block;	margin: 0px 0; line-height: 34px; text-decoration: none; font-size:13px; font-family:HelveticaNeue-light; color: #f3f3f3;
 -webkit-transition: color .2s ease-in-out;
 -moz-transition: color .2s ease-in-out;
 -o-transition: color .2s ease-in-out;
 -ms-transition: color .2s ease-in-out;
 transition: color .2s ease-in-out;}
.menu li:first-child a {border-left:0 none;}
.menu li:last-child a {border-right:0 none;}
.menu li:hover > a {color: #ebb133;}

/* Sub Menu */
.ul-arrow-login {}
.menu ul {position:absolute; top:31px; left:0px; opacity:0; background:#1f2024; z-index:100;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
-webkit-transition:opacity .25s ease .1s;
-moz-transition:opacity .25s ease .1s;
-o-transition:opacity .25s ease .1s;
-ms-transition:opacity .25s ease .1s;
transition: opacity .25s ease .1s; /*width:120px;*/
}
.menu li:hover > ul {opacity: 1;}
.menu ul li {height: 0; overflow: hidden; padding: 0;
 -webkit-transition: height .25s ease .1s;
 -moz-transition: height .25s ease .1s;
 -o-transition: height .25s ease .1s;
 -ms-transition: height .25s ease .1s;
 transition: height .25s ease .1s; /*width:120px;*/}
.menu li:hover > ul li {height: 36px; overflow: visible; padding: 0;}
.menu ul li a {/*min-width: 80px;*/ width:100%; padding: 4px 0 4px 40px; margin-left:-25px; width:118px; border: none; border-bottom: 1px solid #353539; height:25px; line-height:22px;}
 li:last-child a {border: none;}
 
/* Icons */
.menu a.english {background: url(../images/english.png) no-repeat 6px center;}
.menu a.dutch {background: url(../images/dutch.png) no-repeat 6px center;}
.menu a.french {background: url(../images/french.png) no-repeat 6px center;}
.menu a.arabic{background: url(../images/arabic.png) no-repeat 6px center;}
.menu a.spanish {background: url(../images/spanish.png) no-repeat 6px center;}
.text_shadow {color:#FFF; font-family:HelveticaNeue-light; font-weight:bold; text-align:center; font-size:29px; line-height:35px;	padding:32px; text-shadow:2px 2px #000;}

.menu a.city_left{background: url(../images/city_arrow.png) no-repeat left top 13px;}


/*REGISTRATION PAGE CSS START HERE*/
.registration_bx{background:#FFF; padding:22px 12px; box-shadow: 1px 0px 5px #333333; -webkit-box-shadow: 1px 0px 5px #333333; -moz-box-shadow: 1px 1px 2px #333333;}
.already_head{color:#CB8C18; font-family:HelveticaNeue-light; font-size:15px; margin-bottom:5px; text-transform:uppercase;}
.already_bx{margin-bottom:30px; border:3px solid #dfdce9; padding:15px;}

.email_bx{margin-bottom:10px;}
.email_l{float:left;}
.email_txt{width:90px; text-align:center; font-size:12px; color:#333333; font-family:Arial, Helvetica, sans-serif; float:left; margin-top:8px;}
.email_frm{float:left;}
.input_frm{background:#FFF url(../images/input_bg.jpg) repeat-x center top; padding:8px 7px; border:1px solid #CECECE; border-radius:3px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}


.bt_bx{float:right; margin-right:21px;}
.remember_pass{float:left; margin:11px 10px 0 0; color:#333; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-align:right;}
.remember_pass a:link,.remember_pass a:visited{color:#333; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.remember_pass a:hover{color:#CB8C18; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.sing_bt{float:right;}
.sing_in{font-size:17px; font-family:HelveticaNeue-light; text-transform:uppercase; color:#b8750e; border:0px; cursor:pointer; padding:6px 15px; border-radius:3px; 
background: #fed835; /* Old browsers */
background: -moz-linear-gradient(top,  #fed835 0%, #ffb415 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed835), color-stop(100%,#ffb415)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fed835 0%,#ffb415 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fed835 0%,#ffb415 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fed835', endColorstr='#ffb415',GradientType=0 ); /* IE6-9 */}
.sing_in:hover{color:#FFF;
background: #878787; /* Old browsers */
background: -moz-linear-gradient(top, #878787 0%, #757575 50%, #757575 50%, #676767 50%, #4b4b4b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(50%,#757575), color-stop(50%,#757575), color-stop(50%,#676767), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* IE10+ */
background: linear-gradient(to bottom, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */}

.fb_connect{text-align:center; color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:22px; margin-bottom:30px; vertical-align:top;}
.fb_connect span{vertical-align:top; margin-right:5px;}

.gender_bx{margin-bottom:15px;}
.gender_txt{float:left; margin:8px 12px 0 0; text-align:right; width:130px; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.gender_txt span{color:#F00;}
.gender_frm{float:left;}
.radio_l{float:left; margin-right:25px; margin-top:5px;}
.radio_fem{float:left; margin-right:5px; width:25px;}
.txt_fem{float:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333; margin-top:3px;}

.gender_frm_err{float:left; color:#F00; font-size:12px; font-family:Arial, Helvetica, sans-serif; padding:10px 0 0 15px;}
.input_frm_err{background:#FFF url(../images/input_bg.jpg) repeat-x center top; padding:8px 7px; border:1px solid #F00; border-radius:3px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}

/*ALL DEALS PAGE CSS*/
.deal_l_bx{width:760px; float:left;}
.main_deal{border:1px solid #cccccc; padding:5px; margin-bottom:25px;}

.deal_content{position:absolute; z-index:100; width:733px; height:357px;}
.bought_bg{position:absolute; left:5px; background:url(../images/bought_hang_bg.png) no-repeat; width:86px; height:32px; text-align:center; line-height:32px; top:-7px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333; text-shadow: 1px 1px 1px #FFF; z-index:99;}
.aed_bx{position:absolute; right:1px; top:40px;}
.aed_bx a{ background-image: url(../images/electronic_MainDeal_buy_btn.png); background-position: center top; background-repeat: no-repeat; color: #FFFFFF; display: block; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; height: 39px; line-height: 16px; padding-top: 15px; text-align: center; width: 108px; text-decoration:none; text-transform:uppercase;}
.aed_bx a:hover{ background-position: center bottom; text-decoration: none;}
.deal_end_bx{position:absolute; bottom:0px; height:45px; line-height:45px; width:700px; background: url(../images/white_opacity.png) repeat-x; padding:0 12px;}
.deal_end_l{float:left; font-size:22px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#333;}
.deal_end_r{float:right; padding:11px 0;}
.deal_end_r span{vertical-align:top; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333; margin-right:8px; line-height:25px;}
.mall_nm{color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:12px 0 8px 0; font-weight:bold;}
.mall_nm a:link,.mall_nm a:visited{color:#333; background:#FFF; border:1px solid #CCC; padding:5px 10px; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.mall_nm a:hover{color:#333; background:#e0b835; border:1px solid #e0b835; padding:5px 10px; font-size:12px; font-family:Arial, Helvetica, sans-serif;}


.deal_row{margin:0px; padding:0px;}
.deal_row_l{float:left; border:1px solid #CCC; padding:5px; margin-bottom:15px; width:340px;}
.one_content{position:absolute; z-index:100px; width:350px; height:170px;}
.yacht_bg{background:url(../images/white_opacity.png) repeat-x; height:45px; line-height:45px; padding:0 12px; position:absolute; bottom:0; width:316px;} 
.yacht_l{float:left; color:#333; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold;}
.yacht_r{float:right; bottom: 3px; height: 45px; position: absolute; right: -6px; width: 74px;}
.yacht_r a{ background-image: url(../images/small_deal.png); background-position: center top; background-repeat: no-repeat; color: #FFFFFF;    display: block; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold; height: 31px; line-height: 12px; padding-top: 14px;    text-align: center; width: 76px; text-decoration:none;}
.yacht_r a:hover{ background-position: center bottom; text-decoration: none;}*


.deal_row_r{float:right; border:1px solid #CCC; padding:5px; margin-bottom:15px; width:340px;}


.deal_r_bx{width:220px; float:right;}
.contact_r{background:#FFF; /*border:1px solid #d7d9db;*/ padding:10px; /*box-shadow:1px 0 2px #333333;*/}
.top_social{padding-bottom:10px; width:190px; margin:0 auto; }
.top_social ul{margin:0px; padding:0px;}
.top_social ul li{list-style-type:none; display:inline-block; margin-right:5px;}
.contact_info{margin:0px; padding:0px;}
.contact_now{color:#e4a12e; font-family:HelveticaNeue-light; font-size:14px; color:#333; text-transform:uppercase; margin-bottom:15px; border-top:1px solid #CCC; padding-top:15px;}

.address_bx{padding-bottom:10px; margin-bottom:15px; border-bottom:1px solid #CCC;}
.add_l{float:left; margin-right:20px;}
.add_r{float:left; width:120px;}
.address_txt{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}

.cont_hour{background:#b87c26; padding:15px;}
.send_message{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#333; margin-top:10px;}
.send_message a:link,.send_message a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; text-decoration:none;}
.send_message a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ce8236; text-decoration:none;}



/*ADD TO CART*/
.prod_head{border-radius:5px; color: #CB8C18;  font-family:HelveticaNeue-menu; font-size: 25px; padding-left: 15px; margin-bottom:15px; }
.cart_bx_main{border:1px solid #DDDDDD; border-radius:5px; -moz-border-radius:5px; padding:10px;}

.cart_pro_nm{height:40px; line-height:40px; background:#d9d9d9;  color:#1c1c1c; font-size:19px;  font-family:HelveticaNeue-menu; text-align:center;}


.prod_img_txt{float:left; width:149px; border-right:1px solid #c9c7c7;}
.item_txt{float:left; width:150px; width:631px; padding:0 10px; border-right:1px solid #c9c7c7;}
.qty_txt{float:left; width:76px; padding:0 10px; border-right:1px solid #c9c7c7;}
.prc_txt_t{float:left; width:104px; padding:0 10px; border-right:1px solid #c9c7c7;}
.subtol_txt{float:left; border-right:1px solid #c9c7c7; width:170px; padding:0 10px;}
.cls_txt{float:left; width:64px; text-align:center;}

.cart_det{color:#1c1c1c; font-size:15px;  font-family:HelveticaNeue-light; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD;}
.cart_det_gry{color:#1c1c1c; font-size:15px;  font-family:HelveticaNeue-light; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD; border-right:1px solid #DDDDDD; background:#ececec;}
.cart_img_one{width:128px; padding:5px 10px; float:left; border-right:1px solid #c9c7c7; text-align:center;}
.item_txt_one{float:left; width:630px; padding:20px 10px 5px 10px; border-right:1px solid #c9c7c7; height:50px;}
.hand_bag{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#777777; margin-bottom:3px;}
.hand_puma{ font-family:HelveticaNeue-menu; font-size:18px;}
.qty_one{float:left; width:76px; padding:20px 10px 5px 10px; border-right:1px solid #c9c7c7; height:50px;}
.prc_one{float:left; font-family:HelveticaNeue-menu; font-size:17px; width:104px; padding:20px 10px 5px 10px; border-right:1px solid #c9c7c7; height:50px; text-align:center;}
.sub_tot_one{float:left; border-right:1px solid #c9c7c7; width:170px; padding:20px 10px 5px 10px; height:50px; text-align:center;  font-family:HelveticaNeue-light; font-size:19px; color:#F00;}
.cls_btn{float:left; width:60px; text-align:center; padding-top:15px;}



.totl_bx{border-top:2px solid #DDDDDD; padding-top:15px; margin-top:15px;}
.totl_l{float:left;}
.totl_r{float:right; width:250px;}
.order_head{margin-bottom:15px; color:#DB7607;  font-family:HelveticaNeue-menu; font-size:23px; margin-bottom:20px;}
.ship_char{margin-bottom:5px;}
.ship_chrg_l{float:left; color:#777777;  font-family:HelveticaNeue-menu; font-size:18px;}
.ship_chrg_r{float:right; color:#333;  font-family:HelveticaNeue-menu; font-size:17px;}
.ship_char_t{border-top:2px solid #DDDDDD; margin:10px 0; padding-top:5px;}
.ship_chrg_l_t{float:left; color:#333; font-size:21px;  font-family:HelveticaNeue-menu;}
.ship_chrg_r_t{float:right; color:#db7607; font-size:21px;  font-family:HelveticaNeue-menu;}
.btn_order{margin-top:10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#484848;}
.btn_order a:link,.btn_order a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#484848; text-decoration:none;}
.btn_order a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#DB7607; text-decoration:none;}
.btn_order span{margin-right:10px;}

.btn_plc_order{padding:4px 14px; color:#FFF; font-size:17px; font-weight:bold; font-family:HelveticaNeue-menu; border:1px solid #FDB81F; cursor:pointer; border-radius:5px; -moz-border-radius:5px; /*width:254px;*/
background: #efe138; /* Old browsers */
background: -moz-linear-gradient(top,  #efe138 0%, #fdb81f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efe138), color-stop(100%,#fdb81f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #efe138 0%,#fdb81f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #efe138 0%,#fdb81f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efe138', endColorstr='#fdb81f',GradientType=0 ); /* IE6-9 */

}
.btn_plc_order:hover{border:1px solid #525356;
	background: #797a7d; /* Old browsers */
background: -moz-linear-gradient(top,  #797a7d 0%, #525356 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#797a7d), color-stop(100%,#525356)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #797a7d 0%,#525356 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #797a7d 0%,#525356 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #797a7d 0%,#525356 100%); /* IE10+ */
background: linear-gradient(to bottom,  #797a7d 0%,#525356 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797a7d', endColorstr='#525356',GradientType=0 ); /* IE6-9 */
}

/*class added by delveloper*/
.error{color:#F00; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-bottom:3px; margin-left:140px; margin-top:-8px;}
.myerror{  border: 1px solid #ff0000 ! important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}

.dealerror{color:#F00; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-bottom:3px; margin-top:-8px;}
.myerror{  border: 1px solid #ff0000 ! important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;}

/*--err-messages--*/
.err-message{ background:#ffe1e1 url(../images/err-icon.png) left center no-repeat; border:1px solid #ffc0c0; padding-top:5px; padding-bottom:6px;padding-right:6px; padding-left:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#d8000c; text-align:left; cursor:pointer; margin-bottom:6px;}

.right-message{ background:#ecf2e0 url(../images/right-icon.png) left center no-repeat; border:1px solid #c0dda1; padding-top:5px; padding-bottom:6px;padding-right:6px; padding-left:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#4f8a10; text-align:left; cursor:pointer; margin-bottom:6px;}

.info-message{ background:#dceff8 url(../images/info-icon.png) left center no-repeat; border:1px solid #bde5f8; padding-top:5px; padding-bottom:6px;padding-right:6px; padding-left:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#00529b; text-align:left; cursor:pointer; margin-bottom:6px;}

.errr{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#F00;background:url(../images/warning-icon.png) left center no-repeat; padding-left:20px; margin-left:15px; padding-top:4px;}



/*CHECKOUT PAGE CSS*/
.steps_bx{margin-bottom:25px;}
.item_txt_check{float:left; width:150px; width:511px; padding:0 10px; border-right:1px solid #c9c7c7;}
.qty_txt_check{float:left; width:76px; padding:0 10px; border-right:1px solid #c9c7c7;}
.prc_txt_t_check{float:left; width:104px; padding:0 10px; border-right:1px solid #c9c7c7;}
.cls_txt_check{float:left; width:64px; text-align:center; padding:0 10px; border-right:1px solid #c9c7c7;}
.del_icon{float:left; width:100px; text-align:center;}


.hand_puma_chk{ font-family:HelveticaNeue-menu; font-size:18px;}
.item_txt_one_chk{float:left; width:510px; padding:11px 10px 5px 10px; border-right:1px solid #c9c7c7; height:28px; font-family:HelveticaNeue-menu; font-size:15px;}
.qty_one_chk{float:left; width:76px; padding:11px 10px 5px 10px; border-right:1px solid #c9c7c7; height:28px; font-family:HelveticaNeue-menu; font-size:15px; text-align:center;}
.prc_one_chk{float:left; font-family:HelveticaNeue-menu; font-size:15px; width:104px; padding:6px 10px 5px; border-right:1px solid #c9c7c7; height:34px; text-align:center;}
.sub_tot_one_chk{float:left; border-right:1px solid #c9c7c7; width:170px; padding:11px 10px 5px 10px; height:28px; text-align:center;  font-family:HelveticaNeue-light; font-size:15px; color:#F00;}
.cls_btn_chk{float:left; width:64px; text-align:center; padding:11px 10px 5px 10px; border-right:1px solid #c9c7c7; font-family:HelveticaNeue-menu; font-size:15px; height:28px;}
.delete_icon_chk{float:left; width:100px; text-align:center; height:28px; padding-top:17px;}

.totl_bx_chk{background:#DDDDDD; padding:10px; margin:15px 0 30px 0;}
.proceed_head{font-family:HelveticaNeue-light; color:#CB8C18; font-size:17px; margin-bottom:15px;}

.button_row{margin:0px; padding:0px; height:45px; line-height:45px;}
.sing_fb{float:left; margin-right:27px;}
.btn_login{float:left; margin-right:27px; width:300px; }
.btn_login a{font-family:HelveticaNeue-light; font-size:17px; text-align:center; color:#FFF; text-decoration:none; text-shadow:rgb(89, 87, 87) 1px 2px 2px; display:block; text-transform:uppercase; border-radius:3px; border:1px solid #F6AD12;
background: #ffb413; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb413 0%, #f6ad12 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb413), color-stop(100%,#f6ad12)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb413 0%,#f6ad12 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb413', endColorstr='#f6ad12',GradientType=0 ); /* IE6-9 */
}
.btn_login a:hover{background: #ffaf0f; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf0f 0%, #df9900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf0f), color-stop(100%,#df9900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffaf0f 0%,#df9900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf0f', endColorstr='#df9900',GradientType=0 ); /* IE6-9 */
}

.btn_register{float:left; margin-right:0; width:300px;}
.btn_register a{font-family:HelveticaNeue-light; font-size:17px; text-align:center; color:#FFF; text-decoration:none; text-shadow:rgb(89, 87, 87) 1px 2px 2px; display:block; text-transform:uppercase; border-radius:3px; border:1px solid #636363;
background: #757575; /* Old browsers */
background: -moz-linear-gradient(top,  #757575 0%, #636363 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#757575), color-stop(100%,#636363)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #757575 0%,#636363 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #757575 0%,#636363 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #757575 0%,#636363 100%); /* IE10+ */
background: linear-gradient(to bottom,  #757575 0%,#636363 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#757575', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
}
.btn_register a:hover{background: #6b6b6b; /* Old browsers */
background: -moz-linear-gradient(top,  #6b6b6b 0%, #4a4a4a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#4a4a4a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6b6b6b 0%,#4a4a4a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */
}

/*DEAL DETAILS PAGE*/

/*left*/
.deal_banner{margin-bottom:30px;}
.deal_aed{position:absolute; z-index:100; height:357px; width:699px;}


.deal_bg{color: #FFFFFF; display: block; height: 39px; padding-top: 15px; text-align: center; width: 108px; text-decoration:none; left:-8px; bottom:2px; position:absolute;}
.deal_bg a{ background-image: url(../images/great_deal.png); background-position: center top; background-repeat: no-repeat; color: #FFFFFF; display: block; font-family: Arial,Helvetica,sans-serif; font-size: 14px; font-weight: bold; height: 39px; line-height: 16px; padding-top: 15px; text-align: center; width: 108px; text-decoration:none; text-transform:uppercase;}
.deal_bg a:hover{ background-position: center bottom; text-decoration: none;}









.aed_count{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; font-weight:bold; margin-bottom:1px;}
.add_bt{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; font-weight:bold;}
.add_bt a{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; text-decoration:none;}
.add_bt a:hover{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFF; text-decoration:underline;}

.detail_contain{margin:0px; padding:0px;}
.detail_cont_l{float:left; width:218px; margin-right:20px; }
.deal_time{border:1px solid #e3e3e3; padding:10px; margin-bottom:20px;}
.btn_express{margin-bottom:15px; text-align:center;}
.deal_end{margin-bottom:20px;}
.this_txt{text-align:center; color:#555555; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin-bottom:10px;}
.deal_end_time{text-align:center;}

.bought_txt{font-size:13px; font-family:Arial, Helvetica, sans-serif; text-align:center; margin-bottom:15px;}
.deal_company{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; margin-bottom:15px;}

.hyat_hot_bx{margin-bottom:15px;}
.hotel_nm{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; margin-bottom:4px;}
.hotel_nm a:link,.hotel_nm a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0279d5; text-decoration:none;}
.hotel_nm a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0279d5; text-decoration:none;}

.hotel_view{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333;}
.hotel_view a:link,.hotel_view a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0279d5; text-decoration:none;}
.hotel_view a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0279d5; text-decoration:none;}

.detail_cont_r{float:left; width:496px;}  

.throw_bx{padding-bottom:15px; margin-bottom:15px; border-bottom:1px solid#e3e3e3;}
.throw_txt{font-family:HelveticaNeue-light; font-size:16px; line-height:24px; color:#333; margin-bottom:15px;}
.print_area{text-align:center;}

.heighlight_l{float:left; width:241px;}
.heighlight_head{font-family:HelveticaNeue-light; font-size:17px; margin-bottom:20px; color:#c2852a;}
.heighlight_links{padding:0px; margin-left:10px;}
.heighlight_links ul{margin:0px; padding:0px;}
.heighlight_links ul li{list-style-type:disc; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; margin-bottom:8px;}
.heighlight_links ul li a:link,.heighlight_links ul li a:visited{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#f5a404; text-decoration:none; font-weight:bold;}
.heighlight_links ul li a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#f5a404; text-decoration:none;}

.heighlight_r{float:right; width:241px;}

.treatment_bx{margin-bottom:20px;}
.treatment_txt{margin-bottom:15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333; line-height:18px; text-align:justify;}
.note_txt{color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-style:italic;}
.note_txt a{color:#f5a404; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-decoration:none;}
.note_txt a:hover{color:#f5a404; font-size:12px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-style:italic;}

/*right*/
.banner_one{margin-bottom:12px;}
.great_bx{margin-bottom:20px;}
.great_head{font-family:HelveticaNeue-light; font-size:19px; text-align:center; color:#FFF; text-decoration:none; text-shadow:rgb(89, 87, 87) 1px 2px 2px; display:block; border-radius:3px; border:1px solid #F6AD12; padding:8px 10px; border-radius:7px 7px 0 0; 
background: #ffb413; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb413 0%, #f6ad12 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb413), color-stop(100%,#f6ad12)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb413 0%,#f6ad12 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb413 0%,#f6ad12 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb413', endColorstr='#f6ad12',GradientType=0 ); /* IE6-9 */}

.great_txt{background:#FFF; padding:10px; margin-bottom:30px;}
.great_bx_one{margin-bottom:30px;}
.great_hot_one{padding:1px; border:1px solid #CCC; margin-bottom:10px;}
.great_hot_txt{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#333333; margin-bottom:18px;}

.great_deal_bt{margin:0px; padding:0px;}
.great_deal_bt a{text-decoration:none; font-family:HelveticaNeue-light; font-size:17px; text-align:center; color:#FFF; border-radius:5px; text-align:center; padding:8px 50px;
background: #ffaf0f; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf0f 0%, #df9900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf0f), color-stop(100%,#df9900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffaf0f 0%,#df9900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf0f', endColorstr='#df9900',GradientType=0 ); /* IE6-9 */}
.great_deal_bt a:hover{
	background: #6b6b6b; /* Old browsers */
background: -moz-linear-gradient(top,  #6b6b6b 0%, #4a4a4a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#4a4a4a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6b6b6b 0%,#4a4a4a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */}

.see_deal{border-top:1px dashed #FFAF0F; padding-top:12px; margin-top:19px;}
.see_txt{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; color:#333; margin-bottom:10px;}
.see_contain{margin:0px; padding:0px;}
.see_l{float:left; margin-right:10px;}
.see_r{float:left;}

.aed_txt{background:#eeeeee; border:1px solid #dddddd; padding:0; text-align:center; margin-bottom:11px; padding:2px 0;}
.aed_big{font-family:Arial, Helvetica, sans-serif; color:#333; font-size:12px; font-weight:bold; margin-bottom:0; text-align:center;}
.aed_small{font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:center; color:#666;}

.small_deal{margin:0px; padding:0px;}
.small_deal a{text-decoration:none; font-family:HelveticaNeue-light; font-size:13px; text-align:center; color:#FFF; border-radius:3px; text-align:center; padding:6px 10px;
background: #ffaf0f; /* Old browsers */
background: -moz-linear-gradient(top,  #ffaf0f 0%, #df9900 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf0f), color-stop(100%,#df9900)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffaf0f 0%,#df9900 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffaf0f 0%,#df9900 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf0f', endColorstr='#df9900',GradientType=0 ); /* IE6-9 */
}

.small_deal a:hover{background: #6b6b6b; /* Old browsers */
background: -moz-linear-gradient(top,  #6b6b6b 0%, #4a4a4a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b6b6b), color-stop(100%,#4a4a4a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6b6b6b 0%,#4a4a4a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6b6b6b 0%,#4a4a4a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#4a4a4a',GradientType=0 ); /* IE6-9 */}




/*FAQ PAGE CSS STRAT HERE */
.ques_one_bx{padding-bottom:12px; margin-bottom:12px; border-bottom:1px dashed #CCC;}
.question_one{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; margin-bottom:5px;}
.question_one span{color:#F00; margin-right:5px;}
.answer_one{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-align:justify;}
.answer_one a{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-decoration:underline; color:#915a00;}
.answer_one a:hover{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-decoration:none; color:#915a00;}
.answer_one span{color:#039003; margin-right:5px; font-weight:bold;}


/*THANK YOU PAGE CSS*/
.thank_l{float:left; margin-right:20px; width:291px;}
.thank_r{float:right; width:660px;}
.thankyou_head{color: #CB8C18; font-family: HelveticaNeue-menu; font-size: 25px; margin-bottom: 15px;}
.thank_txt{line-height:18px; text-align:justify; font-family:Arial, Helvetica, sans-serif; color:#333;} 


/*HOW IT WORKS*/
.how_it{margin:0px; padding:0px;}
.how_it ul{margin:0px; padding:0px;}
.how_it ul li{list-style-type:none; margin-bottom:8px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-align:justify; background:url(../images/works_arrow.png) no-repeat left top 7px; padding-left:20px;}


/*ABOUT US*/
.about_txt{color:#333; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:justify; line-height:18px;}


/*AFFILIATE PROGRAMME*/
.affiliate_bx{margin:10px 0 20px 0;}
.affiliate_l{float:left; width:460px;}
.benefits_head{padding:10px; background:#e1e1e1; font-size:17px; font-family:HelveticaNeue-light; text-transform:uppercase; color:#333; margin-bottom:15px;}
.promotional_tools{background:url(../images/promotional_tool_icon.png) no-repeat left top; padding-left:47px; color:#525252; font-size:17px; font-family:HelveticaNeue-light; height:33px; line-height:33px; margin-bottom:25px; text-transform:uppercase; text-shadow:1px 1px 0 #CCC;}
.support_head{background:url(../images/support_icon.png) no-repeat left top; padding-left:47px; color:#525252; font-size:17px; font-family:HelveticaNeue-light; height:39px; line-height:39px; margin-bottom:25px;  text-transform:uppercase; text-shadow:1px 1px 0 #CCC;}
.month_comm{background:url(../images/commission_icon.png) no-repeat left top; padding-left:47px; color:#525252; font-size:17px; font-family:HelveticaNeue-light; height:36px; line-height:36px; margin-bottom:25px;  text-transform:uppercase; text-shadow:1px 1px 0 #CCC;}

.affiliate_r{float:right;}

.programme_box{border:1px solid #CCC; padding:1px; border-radius:7px;}
.programme_list{padding:8px;}
.programme_list ul{margin:0px; padding:0px;}
.programme_list ul li{list-style-type:none; background:url(../images/works_arrow.png) no-repeat left 5px top 5px; padding-left:25px; margin-bottom:9px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:justify; line-height:18px;}



/*MY ORDER*/
.deal_title{margin:0px; padding:0px;}
.deal_title ul{margin:0px; padding:0px;}
.deal_title ul li{list-style-type:none; float:left; height:39px; line-height:39px; margin-right:5px;}
.deal_title ul li a:link,.deal_title ul li a:visited{background:url(../images/my_order_nor.jpg) repeat-x; border-radius:5px 5px 0 0; padding:10px 20px; font-family:HelveticaNeue-light; font-size:14px; color:#FFF; text-decoration:none; text-shadow:1px 1px 0 #4F4F4F; text-transform:uppercase;}
.deal_title ul li a:hover,.deal_title ul li a.act{background:url(../images/my_order_hov.jpg) repeat-x; border-radius:5px 5px 0 0; padding:10px 20px; font-family:HelveticaNeue-light; font-size:14px; color:#72716e; text-decoration:none; text-shadow:1px 1px 0 #9D9D9D;}

.deal_desc{background:#FFF; padding:15px; border-radius:0 5px 5px 5px;}
.my_order{font-size:17px; font-family:HelveticaNeue-light; color:#e09d1f; padding:5px 0 15px 0;}

.order_frm{margin-bottom:30px;}
.order_frm_l{float:left; margin-right:6px;}
.show_txt{float:left; margin-right:8px; text-align:right; width:80px; font-family:Arial, Helvetica, sans-serif; font-size:12px; padding-top:10px;}
.show_frm{float:left;}

.gry_bx{background:#ececec; border-bottom:1px dashed #DCDCDC; padding:10px;}
.wht_bx{background:#FFF; border-bottom:1px dashed #DCDCDC; padding:10px;}
.wht_bx_l{float:left; margin-right:20px; background:#FFF; border:1px solid #DEDEDE; padding:4px;}
.wht_bx_r{float:right; width:520px;}
.order_title{font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; text-transform:uppercase; letter-spacing:0.2px; margin-bottom:10px; color:#C78406;}
.order_txt{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px; text-align:justify; margin-bottom:15px;}

.order_links{margin:0px; padding:0px;}
.order_links ul{margin:0px; padding:0px;}
.order_links ul li{list-style-type:none; float:left; margin-right:20px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; font-size:11px; background:url(../images/works_arrow.png) no-repeat left top 4px; padding-left:18px; color:#333;}
.order_links ul li a{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#464646; text-decoration:none; text-transform:uppercase;}
.order_links ul li a:hover{font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#C78406; text-decoration:none;}


/*MY DATE*/
.date_bx{margin-bottom:25px; border:2px solid #E3E3E3; padding:15px;}

.date_head{margin-bottom:15px;}
.date_l{float:left; text-transform:uppercase; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333; font-weight:bold;}
.date_r{float:right; }
.date_r a{background:#FFF; padding:4px 7px; color:#6A6A6A; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; border:1px solid #CCC; border-radius:3px; text-decoration:none;}
.date_r a:hover{background:#e09d1f; padding:4px 7px; color:#FFF; font-size:11px; font-family:Arial, Helvetica, sans-serif; text-transform:uppercase; border:1px solid #cf8e06; border-radius:3px; text-decoration:none;}

.date_content{margin-bottom:15px;}
.date_cont_l{width:335px; float:left;}
.date_nm{float:left; margin-right:12px; text-align:right; width:100px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.date_nm_txt{float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.comp_add{font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:21px; color:#333;}

.date_cities{margin:0px; padding:0px;}
.date_cities ul{margin:0px; padding:0px;}
.date_cities ul li{list-style-type:none; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-bottom:10px; background:url(../images/deal_close.png) no-repeat left top 2px; padding-left:15px; width:215px;}

.date_cont_r{width:335px; float:right;}





/**/

.top_menu {	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; height:55px; width:1000px;
background: #878787; /* Old browsers */
background: -moz-linear-gradient(top, #878787 0%, #757575 50%, #757575 50%, #676767 50%, #4b4b4b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(50%,#757575), color-stop(50%,#757575), color-stop(50%,#676767), color-stop(100%,#4b4b4b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* IE10+ */
background: linear-gradient(to bottom, #878787 0%,#757575 50%,#757575 50%,#676767 50%,#4b4b4b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#4b4b4b',GradientType=0 ); /* IE6-9 */ position:relative;}

ul.menu_header{margin:0px; padding:0px;}
.menu_header li {float: left; position: relative; list-style-type:none; background:url(../images/meni-divider.jpg) no-repeat right top; padding:0 14px;}
.menu_header li.last {float: left; position: relative; list-style-type:none; background:none; padding:0 0 0 14px;}  
.menu_header li a {text-shadow:1px 1px 0 rgb(3, 3, 3); display: block; line-height: 26px;	padding: 6px 12px; margin: 8px 8px; vertical-align: middle; text-decoration: none; font-family:HelveticaNeue-light; font-size:16px; font-weight:normal; color:#FFF;}
.menu_header li a:hover,.menu_header li a.act {color: #fbd41d;}

/* Dropdown styles */
.menu_header ul {position: absolute; left: -9999px; list-style: none; opacity: 0; transition: opacity 1s ease; z-index:100; padding:0 12px 0 0;}  
.menu_header ul li {float: none; color:#FFF; background:none; text-align:left !important; padding:0px !important; font-family:HelveticaNeue-light; font-size:14px; font-weight:normal;}
.menu_header ul a {color:#FFF !important; width:100%; line-height: 31px; padding: 0 !important; text-align: left;}

/* Displays the dropdown on hover and moves back into position */
.menu_header li:hover ul {background:#4b4b4b; border-radius:0 0 6px 6px; color:#FFF; box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4); left: 5px; opacity: 1;	width:160px; text-align:left;}

/* Persistant Hover State */
.menu_header li:hover a {color: #fbd41d;}
.menu_header li:hover ul a {background: none; border-radius: 0; box-shadow: none; color:#fbd41d;}
.menu_header li:hover ul li a:hover {color:#fbd41d !important;}