/*------------Nivo-slider-----------------------*/

.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:680px;
	height:368px;
	border:0;
	padding:0;
	z-index:60;
	display:none;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:368px;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background: none;
	color:#fff;
	opacity:0;       /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:47%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:99;
	cursor:pointer;
}
.nivo-controlNav a.active {
/*	font-weight:bold;*/
}

/*----nivo-slider--*/

#slider-wrapper {
	width:680px;
	height:368px;
	margin:0 auto;
	padding-top:0px;
	margin-top:0px;
}

#slider {
	position:relative;
	width:680px;
	height:368px;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left:0px;
	bottom:0px;
	display:none;
}
.nivo-controlNav a {
	display:block;
	border:0;
	float:left;
}
.nivo-controlNav a.active {

}

.nivo-directionNav a {
	display:block;
	width:32px;
	height:38px;
	background:url(../images/my-arow.png) no-repeat;
/*	text-indent:-9999px;*/
	font-size:0px;
	border:0;
}
a.nivo-nextNav {
	background-position:-42px 0;
	right:-10px;
}
a.nivo-prevNav {
	left:0px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a { 
    color:#efe9d1;
    text-decoration:underline;
}

